*{
   margin: 0;
   padding: 0;
   list-style-type: none;
   text-decoration: none;
   box-sizing: border-box;
   font-family: "Merriweather", serif;
   
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}
